@model IEnumerable<DorsetCollegeOnlineStore.Models.User>

@{
    ViewData["Title"] = "User";
}

<p>Already a customer?</p>
<form asp-action="SignIn" method="post">
    Email: <input type="text" name="email"/>
    Password: <input type="password" name="password"/>

    <button type="submit">Login</button>
</form>

<br/>
<p>New here? <a asp-action="Create">Create an account now!</a></p>