@*
 Dorset College Dublin
 BSc in Science in Computing & Multimedia
 Object-Oriented Programming - BSC20921
 Stage 2, Semester 2
 Continuous Assessment 2
 
 Student Name: Mateus Fonseca Campos
 Student Number: 24088
 Student Email: 24088@student.dorset-college.ie
 
 Submission date: 8 May 2022
*@

@model IEnumerable<DorsetCollegeOnlineStore.Models.User>

@{
    ViewData["Title"] = "Sign In";

    if (ViewBag.Message != null)
    {
        <script>
            alert("@ViewBag.Message");
        </script>
    }
}

<p>Already a customer?</p>
<form asp-action="SignIn" method="post">
    Email: <input type="text" name="email" required autofocus/>
    Password: <input type="password" name="password" required/>

    <button type="submit">Login</button>
</form>

<br/>
<p>New here? <a asp-action="Create">Create an account now!</a></p>